name: CI

on:
  push:
    branches: 1.9
  pull_request:
    branches: 1.9

jobs:
  install_meson:
    runs-on: ${{ matrix.platform }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-15
          - macos-15-intel
          - windows-2022
          - windows-11-arm

    steps:
      - uses: ilammy/msvc-dev-cmd@v1
        if: runner.os == 'Windows'
      - uses: actions/checkout@v6
        with:
          submodules: true
      - run: npm install
      - run: npx xpm install
      - run: npx xpm run build
      - name: Test
        run: npx xpm run test
